<a href="https://colab.research.google.com/github/YK-Han1009/midterm24/blob/main/202358007-Yunkyeong%20Han.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Question 1: Addition

In [ ]:
number1 = 27
number2 = 35
sum = number1 + number2
print(sum)

62

# Question 2:

In [ ]:
number = 3
x = 4
print (x * number)

12

In [ ]:
number = input ()
x = 4
print (x * number)

3
3333